.mfx-text-field:hover,
.mfx-password-field:hover {
    -fx-border-color: #1976D2 !important;
    -fx-background-color: #eaeaea !important;
}

.mfx-text-field:focus-within,
.mfx-password-field:focus-within {
    -fx-border-color: #1976D2 !important;
    -fx-background-color: #eaeaea !important;
}

.mfx-text-field:floating .floating-text,
.mfx-password-field:floating .floating-text {
    -fx-text-fill: #1976D2 !important;
    -fx-background-color: transparent !important;
}

#loginButton:hover {
    -fx-background-color: #1565C0 !important;
    -fx-cursor: hand;
}

#registerButton:hover {
    -fx-background-color: #d5d5d5 !important;
    -fx-cursor: hand;
}
