.blue_button,
.white_button,
#searchButton,
#addButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 10;
}


.blue_button:hover {
    -fx-background-color: #f0f0f0 !important;
}

.blue_button:hover .blue_icons {
    -fx-fill: #0D47A1 !important;
}

.white_button:hover {
    -fx-background-color: #90A4AE !important;
}

.white_button:hover .white_icons {
    -fx-fill: #1976D2 !important;
}

#searchButton:hover #searchIcon {
    -fx-fill: #c0c9cd !important;
}

#addButton:hover {
    -fx-background-color: #c0c9cd !important;
}

#addButton:hover #addIcon {
    -fx-fill: #1565C0 !important;
}

.contact-box {
    -fx-background-color: #FAFAFA;
    -fx-padding: 0 10 10;
    -fx-border-color: transparent transparent #B0BEC5 transparent;
}

.contact-box:hover {
    -fx-cursor: hand;
    -fx-background-color: #E8EAF6;
    -fx-padding: 0 10 10;
    -fx-border-color: transparent transparent #B0BEC5 transparent;
}

.contact-box:focused {
    -fx-background-color: #E8EAF6;
    -fx-padding: 0 10 10;
    -fx-opacity: 0.9;
}
